.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: normal;
  align-content: normal;

  & > * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;
  }
}
